<div class="login-sub-nav"></div>
<div class="container grid-form">
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="form-grid">
        <h1>Make a grid</h1>
      </div>
    </div>
  </div>
  <%= simple_form_for [@song, @grid] do |f| %>
    <div class="row">
      <div class="col-lg-12">
        <%= f.association :section, required: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <%= f.association :type, required: false %>
      </div>
      <div class="col-sm-6 col-lg-6">
        <%= f.input :grid_location, collection: 1..8 %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <%= f.association :musical_note %>
      </div>
      <div class="col-sm-6 col-lg-6">
        <%= f.association :musical_scale %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <%= f.association :second_musical_note %>
      </div>
      <div class="col-sm-6 col-lg-6">
        <%= f.association :second_musical_scale %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <%= f.association :third_musical_note %>
      </div>
      <div class="col-sm-6 col-lg-6">
        <%= f.association :third_musical_scale %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <%= f.association :fourth_musical_note %>
      </div>
      <div class="col-sm-6 col-lg-6">
        <%= f.association :fourth_musical_scale %>
      </div>
    </div>
    <br>
    <%= f.submit "Submit grid", class: "btn btn-primary" %>
  <% end %>
</div>


