<div class="banner">
  <div class="container">
    <h2 class="page-title"><%= @user.email %></h2>
  <div class="row">
    <div class="col-sm-4">
      <h2>About me</h2>
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.key, class: "img-fluid profil-picture", height: 250, width: 250, crop: :fill %>
      <% else %>
        <%= cl_image_tag "https://res.cloudinary.com/da2krghvd/image/upload/v1598020963/19_C2_B0_International_Jazz_Festival_of_Punta_del_Este_-_150111-2052-jikatu__2816077813707_29_drogug.jpg", class: "img-fluid profil-picture", height: 250, width: 250, crop: :fill %>
      <% end %>
    </div>
    <div class="col-sm-8">
      <div class="user-story">
        <div class="subtitle">Favorite genres</div>
        <% if @user.genres.any? %>
          <% @user.genres.each do |g| %>
            <div class='infos'><%= g.name %></div>
          <% end %>
        <% end %>
        <div class="subtitle">Instruments joués</div>
        <% if @user.instruments.any? %>
          <% @user.instruments.each do |i| %>
            <div class='infos'><%= i.name %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @user.description? %>
    <div class="sentence">
      <p id="user-description"><%= @user.description %></p>
     </div>
  <% else%>
    <div class="sentence">
      <p id="user-description"> Définis toi en une seule phrase </p>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <div class="songs">
        <% if @user == current_user %>
          <%= link_to new_song_path do %>
            <div class="btn btn-flat new-song">
              New song
            </div>
          <% end %>
        <% else %>
          <h3 style="color: white">Songbook at <%= @user.email %></h3>
        <% end %>
      </div>
    </div>
  </div>
  <% if @user.songs.present? %>
    <div class="row bottom">
      <div class="col-sm-12">
        <% @user.songs.each do |s| %>
          <%= link_to s do %>
            <div class='song-title'><%= s.title.capitalize %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="song-title">no song yet</div>
  <% end %>
  <div class="row">
    <div class="col-lg-12">
      <% if @user == current_user %>
        <%= render 'form' %>
        <h1 style="text-align: center">You can perform actions on your account</h1>
      <% end %>
    </div>
  </div>
</div>





