<h1>User#show</h1>
<% if @user.name? %>
  <p>Welcome <%= @user.name %></p>
  <p><%= @user.email %>
<% else %>
  <p>Hi buddy !!! would you like to update your profil first?</p>
<% end %>

<% if @user.photo.present? %>
  <%= image_tag @user.photo, height: 50, width: 50, crop: :fill %>
<% end %>

<%= render 'form' %>

<h3>your songs</h3>

<% if @user.songs.present? %>
  <% @user.songs.each do |s| %>
    <%= link_to s do %>
      <%= s.title %>
    <% end %>
  <% end %>
<% else %>
  <p>no song yet</p>
<% end %>


<%= link_to 'new song', new_song_path %>
