<div class="login-sub-nav"></div>
  <h2 class="page-title">Songs</h2>
</div>
<div class="container">
  <div class="row">
    <% @songs.each do |s| %>
      <div class="col-lg-3 col-sm-4 song-card">
        <%= link_to s do %>
          <% if s.youtube_link.present? %>
            <div class="card">
              <% if s.youtube_link[8..15] == 'youtu.be' %>
                <div class="video-responsive">
                  <iframe width="560" height="315" src='https://www.youtube.com/embed/<%= s.youtube_link[16..120] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              <% else %>
                <div class="video-responsive">
                  <iframe width="560" height="315" src='https://www.youtube.com/embed/<%= s.youtube_link[32..120] %>?rel=0&autoplay=<%= params[:autoplay] || 0 %>' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              <% end %>
              <div class="infos"><%= s.title.capitalize %></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
