<h1><%= @song.title %></h1>
<br>

<%= @song.youtube_link %>
<br>
<% if @song.user == current_user %>
  <%= link_to 'create a grid', new_song_grid_path(@song) %>
  <%= link_to 'destroy', song_path(@song), class: "call-to-action btn-medium btn last-item", method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<%= link_to 'grid', song_grids_path(@song) %>



